@font-face {
  font-family: Raleway;
  src: url(assets/fonts/Raleway-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1900px;
  margin: 0 auto;
  font-family: raleway;
}

.header {
  min-height: 600px;
  max-height: 1214px;
  background-image: url(assets/header.png);
  background-size: 100% 100%;
  background-position: center;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-navigation__item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo .logo__text {
  font-size: 140%;
}

.logo .logo__text span {
  font-weight: bold;
}

.menu .menu__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
}

.menu .menu__item {
  list-style: none;
}

.menu .menu__link {
  text-decoration: none;
  color: #000000;
}

.menu .menu__link:hover {
  text-shadow: 0 0 10px #000000;
}


.burger {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: solid 1px #000000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s 0s linear;
  transition: all 0.2s 0s linear;
}

.burger > div {
  width: 20px;
  margin: 2px 0 2px 0;
  border: solid 1px #000000;
}

.burger_hide {
  display: none;
}

.burger_rotate {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}


.header-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-feedback .header-feedback__header {
  margin: 150px 0 0 0;
  font-size: 200%;
}

.header-feedback .header-feedback__text {
  margin: 0;
}

.header-feedback__button {
  margin-top: 50px;
  padding: 5px 20px;
  border: none;
  border-radius: 20px;
  background: -webkit-gradient(linear, right top, left top, from(#b90084), to(#49007c));
  background: linear-gradient(to left, #b90084, #49007c);
  color: #ffffff;
  cursor: pointer;
}





.main__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.best-work {
  color: #ffffff;
}

.best-work__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.best-design {
  width: 50%;
  background-image: url(assets/under-header-1.png);
  background-size: 100% 100%;
  background-position: center;
}

.best-code {
  width: 50%;
  background-image: url(assets/under-header-2.png);
  background-size: 100% 100%;
  background-position: center;
}

.best-work__left {
  padding: 20px 80px 20px 200px;
}
.best-work__right {
  padding: 20px 200px 20px 80px;
}

.best-header > span {
  font-weight: normal;
}



.specialization {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.categories {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.categories__item {
  width: 50%;
  margin: 30px 0;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.category > img {
  width: 120px;
  height: 95px;
}

.category__text {
  margin-left: 20px;
}



.portfolio__item {
  width: 33.3%;
}


.about {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  background-image: url(assets/about-background.png);
  background-size: 100% 100%;
}
.about__item {
  margin: 40px auto;
}
.about > p {
  width: 50%;
  margin: 0;
  text-align: center;
}
.team {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.team__item {
  width: calc(25% - 80px);
  margin: 0 40px;
}
.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.team__item > img {
  width: 132px;
  height: 132px;
}
.team__item > p {
  text-align: center;
}


.map > iframe {
  width: 100% !important;
}

.footer {
  padding: 20px;
}


/* Landscape tablets and medium desktops */
@media (max-width: 1199px) {}


/* Portrait tablets and small desktops */
@media (max-width: 991px) {
  .team {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .team__item {
    /*margin: 0 30px;*/
    margin: 0;
    width: 25%;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}


/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .header {
    min-height: 400px;
  }
  .header-navigation {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .header-navigation__item {
    width: 100%;
  }
  .menu .menu__list {
    padding: 0;
  }
  
  .header-feedback .header-feedback__header {
    margin-top: 40px;
    text-align: center;
  }
  
  
  .best-work__left {
    padding: 20px 80px 20px 50px;
  }
  .best-work__right {
    padding: 20px 50px 20px 80px;
  }
  
  
  .categories {
    width: 90%;
  }
  .categories__item {
    width: 100%;
  }
  
  .about {
    background-size: cover;
  }
  .about__item {
    margin: 15px auto;
  }
  .team__item {
    width: 40%;
  }
}


@media (max-width: 580px) {
  .best-work__left {
    padding: 20px 50px 20px 30px;
  }
  .best-work__right {
    padding: 20px 30px 20px 50px;
  }
}


/* Portrait phones and smaller */
@media (max-width: 480px) {
  .header-navigation__item:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .menu .menu_hide {
    display: none;
  }
  .burger_hide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .main__item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .best-design,
  .best-code {
    width: 100%;
  }
}


@media (max-width: 410px) {
  .header-feedback {
    padding: 0 15px 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .team__item > img {
    width: 70px;
    height: 70px;
  }
}


/* Iphone 5 */
@media (max-width: 320px) {
  
}